.Commits {
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
  background: #f5f6f7;
}

.Wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 87%;
}

.Block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 64px;
}

.Caption {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.Analytics {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.Arrow {
  display: inline;
}

.List {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1240px) {
  .Commits {
    padding: 40px 0;
  }

  .Block {
    margin-bottom: 32px;
  }

  .Caption {
    max-width: 336px;
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .Commits {
    padding: 30px 0;
    padding-bottom: 120px;
  }

  .Wrapper {
    max-width: 90%;
  }

  .Block {
    margin-bottom: 16px;
  }

  .Analytics {
    position: absolute;
    z-index: 50;
    bottom: 0;
    left: 50%;
    width: 0 auto;
    margin-bottom: -90px;
    padding: 15px 69px;
    border: 1px solid #000;
    border-radius: 80px;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .Arrow {
    display: none;
  }
}
