.Button {
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.ButtonSearch {
  position: absolute;
  right: -63px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 20px 25px;
  width: 168px;
  min-height: 66px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  background: #347eff;
  transition: 1s ease;

  &:hover {
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.5);
  }
}

.ButtonResult {
  margin-top: 65px;
  border: 1px solid transparent;
  border-radius: 80px;
  padding: 20px 84px;
  max-width: 290px;
  font-size: 18px;
  line-height: 24px;
  background: #fff;
  transition: 1s ease;

  &:hover {
    box-shadow: 0 5px #a9a9a9;
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 2px #a9a9a9;
    transform: translateY(-2px);
  }
}

@media screen and (max-width: 1023px) {
  .ButtonResult {
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .ButtonSearch {
    position: initial;
    padding: 15px 25px;
    min-width: 288px;
    min-height: 54px;
  }

  .ButtonResult {
    margin-top: 15px;
    padding: 15px 80px;
    font-size: 18px;
    line-height: 24px;
  }
}
